@charset "utf-8";
*html{padding:0px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,span,a{margin:0;padding:0;}
body{font-size:12px;font-family: "微软雅黑","Microsoft YaHei","Microsoft YaHei UI", "Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;}
em{font-style:normal}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
audio,canvas,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
a{text-decoration: none;color: #333333;font-family: "Microsoft YaHei";}
a:hover{text-decoration: none;}
fieldset,img{border:0;}
ol,ul,li { list-style:none;}
del,ins{text-decoration:none;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
input,select{height:20px;font-size:12px;line-height:20px;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto; /* 1 */vertical-align: top; /* 2 */}
table{border-collapse: collapse;border-spacing: 0;}
caption,th{text-align:left;}
button,html input[type="button"],
input[type="reset"],input[type="submit"] {-webkit-appearance: button;
cursor: pointer;
}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
a,a:hover,a:focus{text-decoration:none;outline:none;-webkit-transition:all 0.3s;transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;}
::selection{background:#FF6C60;color:#fff;}
::-moz-selection{background:#FF6C60;color:#fff;}
h1,h2,h3,h4,h5,h6,a,p,span{font-family: "微软雅黑","Microsoft YaHei","Microsoft YaHei UI","Hiragino Sans GB W3","Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;}

/* 清除浮动样式 */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/* 清除定位属性 */
.larry-position-clear{
     position: static;
}
/* layui框架样式定义 */
.layui-nav-item .layui-icon{position: relative; /*font-size: 20px;*/}
.layui-nav-item a cite{padding: 0 10px;}
.layui-larry-box{
    display:block;
    width: 100%;
    height: auto;
    padding: 20px;
}
/* 底部 */
.footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}
.footer a {
    padding: 0 5px;
}
body .layui-layout-admin .layui-body{
    padding-bottom: 0px;
}
body .layui-layout-admin .layui-larry-foot{
    height: 30px;
    padding: 5px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
    border-left: 2px solid #1AA094;
    z-index: 998;
}
body .layui-layout-admin .layui-larry-foot a{
    padding: 0 5px;

}

body .layui-layout-admin .larry-footer-left{
     width: 300px;
     height: 30px;
     position: absolute;
     left: 0px;
     text-align: left;
     padding-left: 15px;
     font-size: 12px;
}
body .layui-layout-admin .larry-footer-left a{
     line-height: 30px;
}
body .layui-layout-admin .layui-larry-foot .p-admin{
    display: block;
    width: auto;
    text-align: center;
    position: absolute;
    
    font-size: 12px;
}
body .layui-layout-admin .layui-larry-foot .p-admin a{
  padding-right: 0px;
}
